<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django Social Media
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/" title="home" >🏠</a>|
        <a href="/about" title="about" >👨‍💻</a>|
        <a href="{% url "posts:list" %}" title="post list" >📰</a>|
        <a href="{% url "users:register" %}" title="register" >🚀</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>